#!/usr/bin/env bash

source_up

if has nix; then
  watch_file *.nix
  out_link="$(direnv_layout_dir)"/devshell
  out_system=`nix eval --expr '(import <nixpkgs> {}).system' --impure`
  nix build .#devShell.$out_system --out-link "$out_link"
  source "$out_link/env.bash"
fi

